#nav-container > * {
    display: inline-block;
}

#prev-arrow {
    height: 45px;
    width: 45px;
    image-rendering: pixelated;
}

#ch-background {
    height: 45px;
    width: 150px;
    image-rendering: pixelated;
}

#next-arrow {
    height: 45px;
    width: 45px;
    image-rendering: pixelated;
}

#prev-link {
    float: left;
}

#ch-main {
    float: left;
    background-image: url("https://cdn.jsdelivr.net/gh/aceynk/charlotteworld/assets/background.png");
    background-repeat: no-repeat;
    background-size: 220px 45px;
    height: 45px;
    width: 220px;
    font-size: 10px;
    text-align: center;
    color: #000;
    padding-top: 15px;
    font-family: monospace;
    font-weight: bolder;
}

#next-link {
    float: left;
}

#nav-container::after {
    content: "";
    clear: both;
    display: table;
}